@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');

// Set your brand colors
// $purple: #8A4D76;
$cherry: #FA1754;
// $cherryDanger: #D90E18;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$navbar-burger-color: $beige-lighter;

// Update Bulma's global variables
$family-sans-serif: "Poppins", system-ui, sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
// $primary: $purple;
$primary: #663399;
$link: #6495ED;
// $danger: $cherryDanger;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
//@import "../node_modules/bulma/bulma.sass";
  @import "../node_modules/bulma/sass/utilities/_all.sass";
  @import "../node_modules/bulma/sass/base/_all.sass";
  @import "../node_modules/bulma/sass/elements/button.sass";
  @import "../node_modules/bulma/sass/elements/container.sass";
  @import "../node_modules/bulma/sass/elements/title.sass";
  @import "../node_modules/bulma/sass/elements/box.sass";
  @import "../node_modules/bulma/sass/elements/icon.sass";
  @import "../node_modules/bulma/sass/elements/image.sass";
  @import "../node_modules/bulma/sass/elements/tag.sass";
  @import "../node_modules/bulma/sass/form/_all.sass";
  @import "../node_modules/bulma/sass/components/navbar.sass";
  @import "../node_modules/bulma/sass/components/card.sass";
  @import "../node_modules/bulma/sass/components/level.sass";
  @import "../node_modules/bulma/sass/components/modal.sass";
  @import "../node_modules/bulma/sass/layout/hero.sass";
  @import "../node_modules/bulma/sass/layout/section.sass";
  @import "../node_modules/bulma/sass/layout/footer.sass";
  @import "../node_modules/bulma/sass/grid/columns.sass"; 
  @import "../node_modules/bulma/sass/helpers/spacing.sass";
  @import "../node_modules/bulma/sass/helpers/color.sass";
  /* @import "../node_modules/bulma/sass/helpers/overflow.sass"; */
  @import "../node_modules/bulma/sass/helpers/typography.sass";

html{
  scroll-behavior: smooth;
}
body{
  // background: url('../images/blob-scene-haikei.svg') fixed no-repeat bottom center/100%; 
  background: url('../images/blob-scatter-haikei-5.svg') no-repeat bottom center/100% 100%; 
}
div.hero-background{
  background-image: url('../images/wave-haikei-2.svg')!important;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
}
section:nth-of-type(1){
  // background: url('../images/blob-2.svg') no-repeat center right;
}
section:nth-of-type(3){
  // background: url('../images/blob-haikei.svg') no-repeat center right;
  background: url('../images/wave-haikei.svg') no-repeat bottom center/100%
}
footer.footer{
  background: #663399 url('../images/blob-4.svg') no-repeat center/100% 100%;  
  // #DCD6FF
  // #6600FF white blob
}
.image-covered{
  object-fit: cover;
  object-position: top center;
}
.is-accordion{
  .is-accordion-title{
    list-style: none;
    cursor: pointer;
    &::before{
      content: "➡️";
      display: inline-block;
      margin: 0.5rem;
      transition: all 0.25s;
    }
  }
  &[open] .is-accordion-title::before{
    transform: rotate(90deg);
  }
}
