@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:500,700);

.button,
.input,
.textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 2px);
    padding-left: calc(.75em - 2px);
    padding-right: calc(.75em - 2px);
    padding-top: calc(.5em - 2px);
    position: relative;
    vertical-align: top
}

.button:active,
.button:focus,
.input:active,
.input:focus,
.textarea:active,
.textarea:focus {
    outline: 0
}

[disabled].button,
[disabled].input,
[disabled].textarea {
    cursor: not-allowed
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.navbar-link:not(.is-arrowless)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em
}

.box:not(:last-child),
.level:not(:last-child),
.subtitle:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1.5rem
}

.button.is-loading::after,
.control.is-loading::after {
    -webkit-animation: spinAround .5s infinite linear;
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
body,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
p,
textarea {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

button,
input,
textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
::after,
::before {
    box-sizing: inherit
}

img {
    height: auto;
    max-width: 100%
}

html {
    background-color: #eff0eb;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

article,
figure,
footer,
section {
    display: block
}

body,
button,
input,
textarea {
    font-family: Poppins, system-ui, sans-serif
}

code {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace
}

body {
    color: #757763;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #6495ed;
    cursor: pointer;
    text-decoration: none
}

a strong {
    color: currentColor
}

a:hover {
    color: #363636
}

code {
    background-color: #f5f5f5;
    color: #da1039;
    font-size: .875em;
    font-weight: 400;
    padding: .25em .5em .25em
}

hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0
}

img {
    height: auto;
    max-width: 100%
}

input[type=checkbox],
input[type=radio] {
    vertical-align: baseline
}

small {
    font-size: .875em
}

span {
    font-style: inherit;
    font-weight: inherit
}

strong {
    color: #363636;
    font-weight: 700
}

@-webkit-keyframes spinAround {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(359deg)
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(359deg)
    }
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 2px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 2px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 2px);
    text-align: center;
    white-space: nowrap
}

.button strong {
    color: inherit
}

.button .icon,
.button .icon.is-medium,
.button .icon.is-small {
    height: 1.5em;
    width: 1.5em
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-.5em - 2px);
    margin-right: .25em
}

.button .icon:last-child:not(:first-child) {
    margin-left: .25em;
    margin-right: calc(-.5em - 2px)
}

.button .icon:first-child:last-child {
    margin-left: calc(-.5em - 2px);
    margin-right: calc(-.5em - 2px)
}

.button:hover {
    border-color: #d0d1cd;
    color: #363636
}

.button:focus {
    border-color: #3273dc;
    color: #363636
}

.button:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(100, 149, 237, .25)
}

.button:active {
    border-color: #757763;
    color: #363636
}

.button.is-text {
    background-color: transparent;
    border-color: transparent;
    color: #757763;
    text-decoration: underline
}

.button.is-text:focus,
.button.is-text:hover {
    background-color: #f5f5f5;
    color: #363636
}

.button.is-text:active {
    background-color: #e8e8e8;
    color: #363636
}

.button.is-text[disabled] {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none
}

.button.is-light {
    background-color: #f5f5f5;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-light:hover {
    background-color: #eee;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-light:focus {
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-light:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(245, 245, 245, .25)
}

.button.is-light:active {
    background-color: #e8e8e8;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-light[disabled] {
    background-color: #f5f5f5;
    border-color: transparent;
    box-shadow: none
}

.button.is-light.is-loading::after {
    border-color: transparent transparent rgba(0, 0, 0, .7) rgba(0, 0, 0, .7) !important
}

.button.is-primary {
    background-color: #639;
    border-color: transparent;
    color: #fff
}

.button.is-primary:hover {
    background-color: #60308f;
    border-color: transparent;
    color: #fff
}

.button.is-primary:focus {
    border-color: transparent;
    color: #fff
}

.button.is-primary:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(102, 51, 153, .25)
}

.button.is-primary:active {
    background-color: #592d86;
    border-color: transparent;
    color: #fff
}

.button.is-primary[disabled] {
    background-color: #639;
    border-color: transparent;
    box-shadow: none
}

.button.is-primary.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-primary.is-light {
    background-color: #f5f0fa;
    color: #8244c1
}

.button.is-primary.is-light:hover {
    background-color: #eee6f7;
    border-color: transparent;
    color: #8244c1
}

.button.is-primary.is-light:active {
    background-color: #e8ddf4;
    border-color: transparent;
    color: #8244c1
}

.button.is-link {
    background-color: #6495ed;
    border-color: transparent;
    color: #fff
}

.button.is-link:hover {
    background-color: #598dec;
    border-color: transparent;
    color: #fff
}

.button.is-link:focus {
    border-color: transparent;
    color: #fff
}

.button.is-link:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(100, 149, 237, .25)
}

.button.is-link:active {
    background-color: #4d85ea;
    border-color: transparent;
    color: #fff
}

.button.is-link[disabled] {
    background-color: #6495ed;
    border-color: transparent;
    box-shadow: none
}

.button.is-link.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-link.is-light {
    background-color: #edf3fd;
    color: #144bae
}

.button.is-link.is-light:hover {
    background-color: #e1ebfc;
    border-color: transparent;
    color: #144bae
}

.button.is-link.is-light:active {
    background-color: #d6e3fa;
    border-color: transparent;
    color: #144bae
}

.button.is-info {
    background-color: #3298dc;
    border-color: transparent;
    color: #fff
}

.button.is-info:hover {
    background-color: #2793da;
    border-color: transparent;
    color: #fff
}

.button.is-info:focus {
    border-color: transparent;
    color: #fff
}

.button.is-info:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(50, 152, 220, .25)
}

.button.is-info:active {
    background-color: #238cd1;
    border-color: transparent;
    color: #fff
}

.button.is-info[disabled] {
    background-color: #3298dc;
    border-color: transparent;
    box-shadow: none
}

.button.is-info.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-info.is-light {
    background-color: #eef6fc;
    color: #1d72aa
}

.button.is-info.is-light:hover {
    background-color: #e3f1fa;
    border-color: transparent;
    color: #1d72aa
}

.button.is-info.is-light:active {
    background-color: #d8ebf8;
    border-color: transparent;
    color: #1d72aa
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning:hover {
    background-color: #ffdb4a;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning:focus {
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(255, 221, 87, .25)
}

.button.is-warning:active {
    background-color: #ffd83d;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning[disabled] {
    background-color: #ffdd57;
    border-color: transparent;
    box-shadow: none
}

.button.is-warning.is-loading::after {
    border-color: transparent transparent rgba(0, 0, 0, .7) rgba(0, 0, 0, .7) !important
}

.button.is-warning.is-light {
    background-color: #fffbeb;
    color: #947600
}

.button.is-warning.is-light:hover {
    background-color: #fff8de;
    border-color: transparent;
    color: #947600
}

.button.is-warning.is-light:active {
    background-color: #fff6d1;
    border-color: transparent;
    color: #947600
}

.button.is-danger {
    background-color: #f14668;
    border-color: transparent;
    color: #fff
}

.button.is-danger:hover {
    background-color: #f03a5f;
    border-color: transparent;
    color: #fff
}

.button.is-danger:focus {
    border-color: transparent;
    color: #fff
}

.button.is-danger:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(241, 70, 104, .25)
}

.button.is-danger:active {
    background-color: #ef2e55;
    border-color: transparent;
    color: #fff
}

.button.is-danger[disabled] {
    background-color: #f14668;
    border-color: transparent;
    box-shadow: none
}

.button.is-danger.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35
}

.button.is-danger.is-light:hover {
    background-color: #fde0e6;
    border-color: transparent;
    color: #cc0f35
}

.button.is-danger.is-light:active {
    background-color: #fcd4dc;
    border-color: transparent;
    color: #cc0f35
}

.button.is-small {
    font-size: .75rem
}

.button.is-small:not(.is-rounded) {
    border-radius: 2px
}

.button.is-medium {
    font-size: 1.25rem
}

.button[disabled] {
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .5
}

.button.is-loading {
    color: transparent !important;
    pointer-events: none
}

.button.is-loading::after {
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important
}

.button.is-static {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #7a7a7a;
    box-shadow: none;
    pointer-events: none
}

.button.is-rounded {
    border-radius: 290486px;
    padding-left: calc(1em + .25em);
    padding-right: calc(1em + .25em)
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.buttons .button {
    margin-bottom: .5rem
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: .5rem
}

.buttons:last-child {
    margin-bottom: -.5rem
}

.buttons:not(:last-child) {
    margin-bottom: 1rem
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
    font-size: .75rem
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large):not(.is-rounded) {
    border-radius: 2px
}

.buttons.are-medium .button:not(.is-small):not(.is-normal):not(.is-large) {
    font-size: 1.25rem
}

.buttons.is-centered {
    justify-content: center
}

.buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: .25rem;
    margin-right: .25rem
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 960px
    }
}

.subtitle,
.title {
    word-break: break-word
}

.subtitle span,
.title span {
    font-weight: inherit
}

.subtitle .tag,
.title .tag {
    vertical-align: middle
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125
}

.title strong {
    color: inherit;
    font-weight: inherit
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.25rem
}

.title.is-1 {
    font-size: 3rem
}

.title.is-2 {
    font-size: 2.5rem
}

.title.is-3 {
    font-size: 2rem
}

.title.is-4 {
    font-size: 1.5rem
}

.title.is-5 {
    font-size: 1.25rem
}

.title.is-6 {
    font-size: 1rem
}

.title.is-7 {
    font-size: .75rem
}

.subtitle {
    color: #757763;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25
}

.subtitle strong {
    color: #363636;
    font-weight: 600
}

.subtitle:not(.is-spaced)+.title {
    margin-top: -1.25rem
}

.subtitle.is-1 {
    font-size: 3rem
}

.subtitle.is-2 {
    font-size: 2.5rem
}

.subtitle.is-3 {
    font-size: 2rem
}

.subtitle.is-4 {
    font-size: 1.5rem
}

.subtitle.is-5 {
    font-size: 1.25rem
}

.subtitle.is-6 {
    font-size: 1rem
}

.subtitle.is-7 {
    font-size: .75rem
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #757763;
    display: block;
    padding: 1.25rem
}

a.box:focus,
a.box:hover {
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px #6495ed
}

a.box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2), 0 0 0 1px #6495ed
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem
}

.icon.is-small {
    height: 1rem;
    width: 1rem
}

.icon.is-medium {
    height: 2rem;
    width: 2rem
}

.icon-text {
    align-items: flex-start;
    color: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    vertical-align: top
}

.icon-text .icon {
    flex-grow: 0;
    flex-shrink: 0
}

.icon-text .icon:not(:last-child) {
    margin-right: .25em
}

.icon-text .icon:not(:first-child) {
    margin-left: .25em
}

div.icon-text {
    display: flex
}

.image {
    display: block;
    position: relative
}

.image img {
    display: block;
    height: auto;
    width: 100%
}

.image img.is-rounded {
    border-radius: 290486px
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img {
    height: 100%;
    width: 100%
}

.image.is-1by1 {
    padding-top: 100%
}

.image.is-5by4 {
    padding-top: 80%
}

.image.is-4by3 {
    padding-top: 75%
}

.image.is-3by2 {
    padding-top: 66.6666%
}

.image.is-5by3 {
    padding-top: 60%
}

.image.is-16by9 {
    padding-top: 56.25%
}

.image.is-2by1 {
    padding-top: 50%
}

.image.is-3by1 {
    padding-top: 33.3333%
}

.image.is-4by5 {
    padding-top: 125%
}

.image.is-3by4 {
    padding-top: 133.3333%
}

.image.is-2by3 {
    padding-top: 150%
}

.image.is-3by5 {
    padding-top: 166.6666%
}

.image.is-9by16 {
    padding-top: 177.7777%
}

.image.is-1by2 {
    padding-top: 200%
}

.image.is-1by3 {
    padding-top: 300%
}

.image.is-16x16 {
    height: 16px;
    width: 16px
}

.image.is-24x24 {
    height: 24px;
    width: 24px
}

.image.is-32x32 {
    height: 32px;
    width: 32px
}

.image.is-48x48 {
    height: 48px;
    width: 48px
}

.image.is-64x64 {
    height: 64px;
    width: 64px
}

.image.is-96x96 {
    height: 96px;
    width: 96px
}

.image.is-128x128 {
    height: 128px;
    width: 128px
}

.tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.tags .tag {
    margin-bottom: .5rem
}

.tags .tag:not(:last-child) {
    margin-right: .5rem
}

.tags:last-child {
    margin-bottom: -.5rem
}

.tags:not(:last-child) {
    margin-bottom: 1rem
}

.tags.are-medium .tag:not(.is-normal):not(.is-large) {
    font-size: 1rem
}

.tags.is-centered {
    justify-content: center
}

.tags.is-centered .tag {
    margin-right: .25rem;
    margin-left: .25rem
}

.tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #757763;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap
}

.tag:not(body).is-white {
    background-color: #fff;
    color: #0a0a0a
}

.tag:not(body).is-black {
    background-color: #0a0a0a;
    color: #fff
}

.tag:not(body).is-light {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .7)
}

.tag:not(body).is-dark {
    background-color: #363636;
    color: #fff
}

.tag:not(body).is-primary {
    background-color: #639;
    color: #fff
}

.tag:not(body).is-primary.is-light {
    background-color: #f5f0fa;
    color: #8244c1
}

.tag:not(body).is-link {
    background-color: #6495ed;
    color: #fff
}

.tag:not(body).is-link.is-light {
    background-color: #edf3fd;
    color: #144bae
}

.tag:not(body).is-info {
    background-color: #3298dc;
    color: #fff
}

.tag:not(body).is-info.is-light {
    background-color: #eef6fc;
    color: #1d72aa
}

.tag:not(body).is-success {
    background-color: #48c774;
    color: #fff
}

.tag:not(body).is-success.is-light {
    background-color: #effaf3;
    color: #257942
}

.tag:not(body).is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, .7)
}

.tag:not(body).is-warning.is-light {
    background-color: #fffbeb;
    color: #947600
}

.tag:not(body).is-danger {
    background-color: #f14668;
    color: #fff
}

.tag:not(body).is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35
}

.tag:not(body).is-normal {
    font-size: .75rem
}

.tag:not(body).is-medium {
    font-size: 1rem
}

.tag:not(body).is-large {
    font-size: 1.25rem
}

.tag:not(body) .icon:first-child:not(:last-child) {
    margin-left: -.375em;
    margin-right: .1875em
}

.tag:not(body) .icon:last-child:not(:first-child) {
    margin-left: .1875em;
    margin-right: -.375em
}

.tag:not(body) .icon:first-child:last-child {
    margin-left: -.375em;
    margin-right: -.375em
}

.tag:not(body).is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em
}

.tag:not(body).is-delete::after,
.tag:not(body).is-delete::before {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center
}

.tag:not(body).is-delete::before {
    height: 1px;
    width: 50%
}

.tag:not(body).is-delete::after {
    height: 50%;
    width: 1px
}

.tag:not(body).is-delete:focus,
.tag:not(body).is-delete:hover {
    background-color: #e8e8e8
}

.tag:not(body).is-delete:active {
    background-color: #dbdbdb
}

.tag:not(body).is-rounded {
    border-radius: 290486px
}

a.tag:hover {
    text-decoration: underline
}

.input,
.textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder,
.textarea:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover,
.textarea:hover {
    border-color: #d0d1cd
}

.input:active,
.input:focus,
.textarea:active,
.textarea:focus {
    border-color: #6495ed;
    box-shadow: 0 0 0 .125em rgba(100, 149, 237, .25)
}

[disabled].input,
[disabled].textarea {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

[disabled].input::-moz-placeholder,
[disabled].textarea::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

[disabled].input::-webkit-input-placeholder,
[disabled].textarea::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

[disabled].input:-moz-placeholder,
[disabled].textarea:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

[disabled].input:-ms-input-placeholder,
[disabled].textarea:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.input,
.textarea {
    box-shadow: inset 0 .0625em .125em rgba(10, 10, 10, .05);
    max-width: 100%;
    width: 100%
}

[readonly].input,
[readonly].textarea {
    box-shadow: none
}

.is-light.input,
.is-light.textarea {
    border-color: #f5f5f5
}

.is-light.input:active,
.is-light.input:focus,
.is-light.textarea:active,
.is-light.textarea:focus {
    box-shadow: 0 0 0 .125em rgba(245, 245, 245, .25)
}

.is-primary.input,
.is-primary.textarea {
    border-color: #639
}

.is-primary.input:active,
.is-primary.input:focus,
.is-primary.textarea:active,
.is-primary.textarea:focus {
    box-shadow: 0 0 0 .125em rgba(102, 51, 153, .25)
}

.is-link.input,
.is-link.textarea {
    border-color: #6495ed
}

.is-link.input:active,
.is-link.input:focus,
.is-link.textarea:active,
.is-link.textarea:focus {
    box-shadow: 0 0 0 .125em rgba(100, 149, 237, .25)
}

.is-info.input,
.is-info.textarea {
    border-color: #3298dc
}

.is-info.input:active,
.is-info.input:focus,
.is-info.textarea:active,
.is-info.textarea:focus {
    box-shadow: 0 0 0 .125em rgba(50, 152, 220, .25)
}

.is-warning.input,
.is-warning.textarea {
    border-color: #ffdd57
}

.is-warning.input:active,
.is-warning.input:focus,
.is-warning.textarea:active,
.is-warning.textarea:focus {
    box-shadow: 0 0 0 .125em rgba(255, 221, 87, .25)
}

.is-danger.input,
.is-danger.textarea {
    border-color: #f14668
}

.is-danger.input:active,
.is-danger.input:focus,
.is-danger.textarea:active,
.is-danger.textarea:focus {
    box-shadow: 0 0 0 .125em rgba(241, 70, 104, .25)
}

.is-small.input,
.is-small.textarea {
    border-radius: 2px;
    font-size: .75rem
}

.is-medium.input,
.is-medium.textarea {
    font-size: 1.25rem
}

.is-inline.input,
.is-inline.textarea {
    display: inline;
    width: auto
}

.input.is-rounded {
    border-radius: 290486px;
    padding-left: calc(calc(.75em - 2px) + .375em);
    padding-right: calc(calc(.75em - 2px) + .375em)
}

.input.is-static {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: calc(.75em - 2px);
    resize: vertical
}

.textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em
}

.textarea[rows] {
    height: initial
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700
}

.label:not(:last-child) {
    margin-bottom: .5em
}

.label.is-small {
    font-size: .75rem
}

.label.is-medium {
    font-size: 1.25rem
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem
}

.help.is-light {
    color: #f5f5f5
}

.help.is-primary {
    color: #639
}

.help.is-link {
    color: #6495ed
}

.help.is-info {
    color: #3298dc
}

.help.is-warning {
    color: #ffdd57
}

.help.is-danger {
    color: #f14668
}

.field:not(:last-child) {
    margin-bottom: .75rem
}

.field.is-grouped {
    display: flex;
    justify-content: flex-start
}

.field.is-grouped>.control {
    flex-shrink: 0
}

.field.is-grouped>.control:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem
}

.field.is-grouped.is-grouped-centered {
    justify-content: center
}

.field.is-grouped.is-grouped-multiline {
    flex-wrap: wrap
}

.field.is-grouped.is-grouped-multiline>.control:last-child,
.field.is-grouped.is-grouped-multiline>.control:not(:last-child) {
    margin-bottom: .75rem
}

.field.is-grouped.is-grouped-multiline:last-child {
    margin-bottom: -.75rem
}

.field.is-grouped.is-grouped-multiline:not(:last-child) {
    margin-bottom: 0
}

.field-label .label {
    font-size: inherit
}

@media screen and (max-width:768px) {
    .field-label {
        margin-bottom: .5rem
    }
}

@media screen and (min-width:769px),
print {
    .field-label {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 1.5rem;
        text-align: right
    }

    .field-label.is-small {
        font-size: .75rem;
        padding-top: .375em
    }

    .field-label.is-medium {
        font-size: 1.25rem;
        padding-top: .375em
    }
}

.field-body .field .field {
    margin-bottom: 0
}

@media screen and (min-width:769px),
print {
    .field-body {
        display: flex;
        flex-basis: 0;
        flex-grow: 5;
        flex-shrink: 1
    }

    .field-body .field {
        margin-bottom: 0
    }

    .field-body>.field {
        flex-shrink: 1
    }

    .field-body>.field:not(.is-narrow) {
        flex-grow: 1
    }

    .field-body>.field:not(:last-child) {
        margin-right: .75rem
    }
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit
}

.control.is-loading::after {
    position: absolute !important;
    right: .625em;
    top: .625em;
    z-index: 4
}

.control.is-loading.is-small:after {
    font-size: .75rem
}

.control.is-loading.is-medium:after {
    font-size: 1.25rem
}

.navbar {
    background-color: #fff;
    min-height: 3.25rem;
    position: relative;
    z-index: 30
}

.navbar.is-light {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .7)
}

.navbar.is-light .navbar-brand .navbar-link,
.navbar.is-light .navbar-brand>.navbar-item {
    color: rgba(0, 0, 0, .7)
}

.navbar.is-light .navbar-brand .navbar-link:focus,
.navbar.is-light .navbar-brand .navbar-link:hover,
.navbar.is-light .navbar-brand>a.navbar-item:focus,
.navbar.is-light .navbar-brand>a.navbar-item:hover {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, .7)
}

.navbar.is-light .navbar-brand .navbar-link::after {
    border-color: rgba(0, 0, 0, .7)
}

.navbar.is-light .navbar-burger {
    color: rgba(0, 0, 0, .7)
}

@media screen and (min-width:1024px) {

    .navbar.is-light .navbar-end .navbar-link,
    .navbar.is-light .navbar-end>.navbar-item,
    .navbar.is-light .navbar-start .navbar-link,
    .navbar.is-light .navbar-start>.navbar-item {
        color: rgba(0, 0, 0, .7)
    }

    .navbar.is-light .navbar-end .navbar-link:focus,
    .navbar.is-light .navbar-end .navbar-link:hover,
    .navbar.is-light .navbar-end>a.navbar-item:focus,
    .navbar.is-light .navbar-end>a.navbar-item:hover,
    .navbar.is-light .navbar-start .navbar-link:focus,
    .navbar.is-light .navbar-start .navbar-link:hover,
    .navbar.is-light .navbar-start>a.navbar-item:focus,
    .navbar.is-light .navbar-start>a.navbar-item:hover {
        background-color: #e8e8e8;
        color: rgba(0, 0, 0, .7)
    }

    .navbar.is-light .navbar-end .navbar-link::after,
    .navbar.is-light .navbar-start .navbar-link::after {
        border-color: rgba(0, 0, 0, .7)
    }
}

.navbar.is-primary {
    background-color: #639;
    color: #fff
}

.navbar.is-primary .navbar-brand .navbar-link,
.navbar.is-primary .navbar-brand>.navbar-item {
    color: #fff
}

.navbar.is-primary .navbar-brand .navbar-link:focus,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand>a.navbar-item:focus,
.navbar.is-primary .navbar-brand>a.navbar-item:hover {
    background-color: #592d86;
    color: #fff
}

.navbar.is-primary .navbar-brand .navbar-link::after {
    border-color: #fff
}

.navbar.is-primary .navbar-burger {
    color: #fff
}

@media screen and (min-width:1024px) {

    .navbar.is-primary .navbar-end .navbar-link,
    .navbar.is-primary .navbar-end>.navbar-item,
    .navbar.is-primary .navbar-start .navbar-link,
    .navbar.is-primary .navbar-start>.navbar-item {
        color: #fff
    }

    .navbar.is-primary .navbar-end .navbar-link:focus,
    .navbar.is-primary .navbar-end .navbar-link:hover,
    .navbar.is-primary .navbar-end>a.navbar-item:focus,
    .navbar.is-primary .navbar-end>a.navbar-item:hover,
    .navbar.is-primary .navbar-start .navbar-link:focus,
    .navbar.is-primary .navbar-start .navbar-link:hover,
    .navbar.is-primary .navbar-start>a.navbar-item:focus,
    .navbar.is-primary .navbar-start>a.navbar-item:hover {
        background-color: #592d86;
        color: #fff
    }

    .navbar.is-primary .navbar-end .navbar-link::after,
    .navbar.is-primary .navbar-start .navbar-link::after {
        border-color: #fff
    }
}

.navbar.is-link {
    background-color: #6495ed;
    color: #fff
}

.navbar.is-link .navbar-brand .navbar-link,
.navbar.is-link .navbar-brand>.navbar-item {
    color: #fff
}

.navbar.is-link .navbar-brand .navbar-link:focus,
.navbar.is-link .navbar-brand .navbar-link:hover,
.navbar.is-link .navbar-brand>a.navbar-item:focus,
.navbar.is-link .navbar-brand>a.navbar-item:hover {
    background-color: #4d85ea;
    color: #fff
}

.navbar.is-link .navbar-brand .navbar-link::after {
    border-color: #fff
}

.navbar.is-link .navbar-burger {
    color: #fff
}

@media screen and (min-width:1024px) {

    .navbar.is-link .navbar-end .navbar-link,
    .navbar.is-link .navbar-end>.navbar-item,
    .navbar.is-link .navbar-start .navbar-link,
    .navbar.is-link .navbar-start>.navbar-item {
        color: #fff
    }

    .navbar.is-link .navbar-end .navbar-link:focus,
    .navbar.is-link .navbar-end .navbar-link:hover,
    .navbar.is-link .navbar-end>a.navbar-item:focus,
    .navbar.is-link .navbar-end>a.navbar-item:hover,
    .navbar.is-link .navbar-start .navbar-link:focus,
    .navbar.is-link .navbar-start .navbar-link:hover,
    .navbar.is-link .navbar-start>a.navbar-item:focus,
    .navbar.is-link .navbar-start>a.navbar-item:hover {
        background-color: #4d85ea;
        color: #fff
    }

    .navbar.is-link .navbar-end .navbar-link::after,
    .navbar.is-link .navbar-start .navbar-link::after {
        border-color: #fff
    }
}

.navbar.is-info {
    background-color: #3298dc;
    color: #fff
}

.navbar.is-info .navbar-brand .navbar-link,
.navbar.is-info .navbar-brand>.navbar-item {
    color: #fff
}

.navbar.is-info .navbar-brand .navbar-link:focus,
.navbar.is-info .navbar-brand .navbar-link:hover,
.navbar.is-info .navbar-brand>a.navbar-item:focus,
.navbar.is-info .navbar-brand>a.navbar-item:hover {
    background-color: #238cd1;
    color: #fff
}

.navbar.is-info .navbar-brand .navbar-link::after {
    border-color: #fff
}

.navbar.is-info .navbar-burger {
    color: #fff
}

@media screen and (min-width:1024px) {

    .navbar.is-info .navbar-end .navbar-link,
    .navbar.is-info .navbar-end>.navbar-item,
    .navbar.is-info .navbar-start .navbar-link,
    .navbar.is-info .navbar-start>.navbar-item {
        color: #fff
    }

    .navbar.is-info .navbar-end .navbar-link:focus,
    .navbar.is-info .navbar-end .navbar-link:hover,
    .navbar.is-info .navbar-end>a.navbar-item:focus,
    .navbar.is-info .navbar-end>a.navbar-item:hover,
    .navbar.is-info .navbar-start .navbar-link:focus,
    .navbar.is-info .navbar-start .navbar-link:hover,
    .navbar.is-info .navbar-start>a.navbar-item:focus,
    .navbar.is-info .navbar-start>a.navbar-item:hover {
        background-color: #238cd1;
        color: #fff
    }

    .navbar.is-info .navbar-end .navbar-link::after,
    .navbar.is-info .navbar-start .navbar-link::after {
        border-color: #fff
    }
}

.navbar.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-brand .navbar-link,
.navbar.is-warning .navbar-brand>.navbar-item {
    color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-brand .navbar-link:focus,
.navbar.is-warning .navbar-brand .navbar-link:hover,
.navbar.is-warning .navbar-brand>a.navbar-item:focus,
.navbar.is-warning .navbar-brand>a.navbar-item:hover {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-brand .navbar-link::after {
    border-color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-burger {
    color: rgba(0, 0, 0, .7)
}

@media screen and (min-width:1024px) {

    .navbar.is-warning .navbar-end .navbar-link,
    .navbar.is-warning .navbar-end>.navbar-item,
    .navbar.is-warning .navbar-start .navbar-link,
    .navbar.is-warning .navbar-start>.navbar-item {
        color: rgba(0, 0, 0, .7)
    }

    .navbar.is-warning .navbar-end .navbar-link:focus,
    .navbar.is-warning .navbar-end .navbar-link:hover,
    .navbar.is-warning .navbar-end>a.navbar-item:focus,
    .navbar.is-warning .navbar-end>a.navbar-item:hover,
    .navbar.is-warning .navbar-start .navbar-link:focus,
    .navbar.is-warning .navbar-start .navbar-link:hover,
    .navbar.is-warning .navbar-start>a.navbar-item:focus,
    .navbar.is-warning .navbar-start>a.navbar-item:hover {
        background-color: #ffd83d;
        color: rgba(0, 0, 0, .7)
    }

    .navbar.is-warning .navbar-end .navbar-link::after,
    .navbar.is-warning .navbar-start .navbar-link::after {
        border-color: rgba(0, 0, 0, .7)
    }
}

.navbar.is-danger {
    background-color: #f14668;
    color: #fff
}

.navbar.is-danger .navbar-brand .navbar-link,
.navbar.is-danger .navbar-brand>.navbar-item {
    color: #fff
}

.navbar.is-danger .navbar-brand .navbar-link:focus,
.navbar.is-danger .navbar-brand .navbar-link:hover,
.navbar.is-danger .navbar-brand>a.navbar-item:focus,
.navbar.is-danger .navbar-brand>a.navbar-item:hover {
    background-color: #ef2e55;
    color: #fff
}

.navbar.is-danger .navbar-brand .navbar-link::after {
    border-color: #fff
}

.navbar.is-danger .navbar-burger {
    color: #fff
}

@media screen and (min-width:1024px) {

    .navbar.is-danger .navbar-end .navbar-link,
    .navbar.is-danger .navbar-end>.navbar-item,
    .navbar.is-danger .navbar-start .navbar-link,
    .navbar.is-danger .navbar-start>.navbar-item {
        color: #fff
    }

    .navbar.is-danger .navbar-end .navbar-link:focus,
    .navbar.is-danger .navbar-end .navbar-link:hover,
    .navbar.is-danger .navbar-end>a.navbar-item:focus,
    .navbar.is-danger .navbar-end>a.navbar-item:hover,
    .navbar.is-danger .navbar-start .navbar-link:focus,
    .navbar.is-danger .navbar-start .navbar-link:hover,
    .navbar.is-danger .navbar-start>a.navbar-item:focus,
    .navbar.is-danger .navbar-start>a.navbar-item:hover {
        background-color: #ef2e55;
        color: #fff
    }

    .navbar.is-danger .navbar-end .navbar-link::after,
    .navbar.is-danger .navbar-start .navbar-link::after {
        border-color: #fff
    }
}

.navbar>.container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%
}

.navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem
}

.navbar-brand a.navbar-item:focus,
.navbar-brand a.navbar-item:hover {
    background-color: transparent
}

.navbar-burger {
    color: #757763;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto
}

.navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 6px)
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px)
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px)
}

.navbar-burger:hover {
    background-color: rgba(0, 0, 0, .05)
}

.navbar-menu {
    display: none
}

.navbar-item,
.navbar-link {
    color: #757763;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative
}

.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
    margin-left: -.25rem;
    margin-right: -.25rem
}

.navbar-link,
a.navbar-item {
    cursor: pointer
}

.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: #fafafa;
    color: #6495ed
}

.navbar-item {
    flex-grow: 0;
    flex-shrink: 0
}

.navbar-item img {
    max-height: 1.75rem
}

.navbar-content {
    flex-grow: 1;
    flex-shrink: 1
}

.navbar-link:not(.is-arrowless) {
    padding-right: 2.5em
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #6495ed;
    margin-top: -.375em;
    right: 1.125em
}

@media screen and (max-width:1023px) {
    .navbar>.container {
        display: block
    }

    .navbar-brand .navbar-item {
        align-items: center;
        display: flex
    }

    .navbar-link::after {
        display: none
    }

    .navbar-menu {
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
        padding: .5rem 0
    }
}

@media screen and (min-width:1024px) {

    .navbar,
    .navbar-end,
    .navbar-menu,
    .navbar-start {
        align-items: stretch;
        display: flex
    }

    .navbar {
        min-height: 3.25rem
    }

    .navbar.is-transparent .navbar-link:focus,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent a.navbar-item:focus,
    .navbar.is-transparent a.navbar-item:hover {
        background-color: transparent !important
    }

    .navbar-burger {
        display: none
    }

    .navbar-item,
    .navbar-link {
        align-items: center;
        display: flex
    }

    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0
    }

    .navbar-start {
        justify-content: flex-start;
        margin-right: auto
    }

    .navbar-end {
        justify-content: flex-end;
        margin-left: auto
    }

    .container>.navbar .navbar-brand,
    .navbar>.container .navbar-brand {
        margin-left: -.75rem
    }

    .container>.navbar .navbar-menu,
    .navbar>.container .navbar-menu {
        margin-right: -.75rem
    }
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem)
}

.card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #757763;
    max-width: 100%;
    position: relative
}

.card-content:first-child,
.card-footer:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card-content:last-child,
.card-footer:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.card-image {
    display: block;
    position: relative
}

.card-image:first-child img {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card-image:last-child img {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.card-content {
    background-color: transparent;
    padding: 1.5rem
}

.card-footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    display: flex
}

.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: .75rem
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid #ededed
}

.level {
    align-items: center;
    justify-content: space-between
}

.level code {
    border-radius: 4px
}

.level img {
    display: inline-block;
    vertical-align: top
}

.level.is-mobile {
    display: flex
}

.level.is-mobile .level-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem
}

.level.is-mobile .level-item:not(.is-narrow) {
    flex-grow: 1
}

@media screen and (min-width:769px),
print {
    .level {
        display: flex
    }

    .level>.level-item:not(.is-narrow) {
        flex-grow: 1
    }
}

.level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center
}

.level-item .subtitle,
.level-item .title {
    margin-bottom: 0
}

@media screen and (max-width:768px) {
    .level-item:not(:last-child) {
        margin-bottom: .75rem
    }
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.hero .navbar {
    background: 0 0
}

.hero.is-light {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .7)
}

.hero.is-light a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-light strong {
    color: inherit
}

.hero.is-light .title {
    color: rgba(0, 0, 0, .7)
}

.hero.is-light .subtitle {
    color: rgba(0, 0, 0, .9)
}

.hero.is-light .subtitle a:not(.button),
.hero.is-light .subtitle strong {
    color: rgba(0, 0, 0, .7)
}

@media screen and (max-width:1023px) {
    .hero.is-light .navbar-menu {
        background-color: #f5f5f5
    }
}

.hero.is-light .navbar-item,
.hero.is-light .navbar-link {
    color: rgba(0, 0, 0, .7)
}

.hero.is-light .navbar-link:hover,
.hero.is-light a.navbar-item:hover {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, .7)
}

.hero.is-light.is-bold {
    background-image: linear-gradient(141deg, #dfd8d9 0, #f5f5f5 71%, #fff 100%)
}

@media screen and (max-width:768px) {
    .hero.is-light.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #dfd8d9 0, #f5f5f5 71%, #fff 100%)
    }
}

.hero.is-primary {
    background-color: #639;
    color: #fff
}

.hero.is-primary a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-primary strong {
    color: inherit
}

.hero.is-primary .title {
    color: #fff
}

.hero.is-primary .subtitle {
    color: rgba(255, 255, 255, .9)
}

.hero.is-primary .subtitle a:not(.button),
.hero.is-primary .subtitle strong {
    color: #fff
}

@media screen and (max-width:1023px) {
    .hero.is-primary .navbar-menu {
        background-color: #639
    }
}

.hero.is-primary .navbar-item,
.hero.is-primary .navbar-link {
    color: rgba(255, 255, 255, .7)
}

.hero.is-primary .navbar-link:hover,
.hero.is-primary a.navbar-item:hover {
    background-color: #592d86;
    color: #fff
}

.hero.is-primary.is-bold {
    background-image: linear-gradient(141deg, #3d1f7a 0, #639 71%, #8834b2 100%)
}

@media screen and (max-width:768px) {
    .hero.is-primary.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #3d1f7a 0, #639 71%, #8834b2 100%)
    }
}

.hero.is-link {
    background-color: #6495ed;
    color: #fff
}

.hero.is-link a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-link strong {
    color: inherit
}

.hero.is-link .title {
    color: #fff
}

.hero.is-link .subtitle {
    color: rgba(255, 255, 255, .9)
}

.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
    color: #fff
}

@media screen and (max-width:1023px) {
    .hero.is-link .navbar-menu {
        background-color: #6495ed
    }
}

.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
    color: rgba(255, 255, 255, .7)
}

.hero.is-link .navbar-link:hover,
.hero.is-link a.navbar-item:hover {
    background-color: #4d85ea;
    color: #fff
}

.hero.is-link.is-bold {
    background-image: linear-gradient(141deg, #2b94f3 0, #6495ed 71%, #778ff3 100%)
}

@media screen and (max-width:768px) {
    .hero.is-link.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #2b94f3 0, #6495ed 71%, #778ff3 100%)
    }
}

.hero.is-info {
    background-color: #3298dc;
    color: #fff
}

.hero.is-info a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-info strong {
    color: inherit
}

.hero.is-info .title {
    color: #fff
}

.hero.is-info .subtitle {
    color: rgba(255, 255, 255, .9)
}

.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
    color: #fff
}

@media screen and (max-width:1023px) {
    .hero.is-info .navbar-menu {
        background-color: #3298dc
    }
}

.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
    color: rgba(255, 255, 255, .7)
}

.hero.is-info .navbar-link:hover,
.hero.is-info a.navbar-item:hover {
    background-color: #238cd1;
    color: #fff
}

.hero.is-info.is-bold {
    background-image: linear-gradient(141deg, #159dc6 0, #3298dc 71%, #4389e5 100%)
}

@media screen and (max-width:768px) {
    .hero.is-info.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #159dc6 0, #3298dc 71%, #4389e5 100%)
    }
}

.hero.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, .7)
}

.hero.is-warning a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-warning strong {
    color: inherit
}

.hero.is-warning .title {
    color: rgba(0, 0, 0, .7)
}

.hero.is-warning .subtitle {
    color: rgba(0, 0, 0, .9)
}

.hero.is-warning .subtitle a:not(.button),
.hero.is-warning .subtitle strong {
    color: rgba(0, 0, 0, .7)
}

@media screen and (max-width:1023px) {
    .hero.is-warning .navbar-menu {
        background-color: #ffdd57
    }
}

.hero.is-warning .navbar-item,
.hero.is-warning .navbar-link {
    color: rgba(0, 0, 0, .7)
}

.hero.is-warning .navbar-link:hover,
.hero.is-warning a.navbar-item:hover {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, .7)
}

.hero.is-warning.is-bold {
    background-image: linear-gradient(141deg, #ffaf24 0, #ffdd57 71%, #fffa70 100%)
}

@media screen and (max-width:768px) {
    .hero.is-warning.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #ffaf24 0, #ffdd57 71%, #fffa70 100%)
    }
}

.hero.is-danger {
    background-color: #f14668;
    color: #fff
}

.hero.is-danger a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-danger strong {
    color: inherit
}

.hero.is-danger .title {
    color: #fff
}

.hero.is-danger .subtitle {
    color: rgba(255, 255, 255, .9)
}

.hero.is-danger .subtitle a:not(.button),
.hero.is-danger .subtitle strong {
    color: #fff
}

@media screen and (max-width:1023px) {
    .hero.is-danger .navbar-menu {
        background-color: #f14668
    }
}

.hero.is-danger .navbar-item,
.hero.is-danger .navbar-link {
    color: rgba(255, 255, 255, .7)
}

.hero.is-danger .navbar-link:hover,
.hero.is-danger a.navbar-item:hover {
    background-color: #ef2e55;
    color: #fff
}

.hero.is-danger.is-bold {
    background-image: linear-gradient(141deg, #fa0a62 0, #f14668 71%, #f7595f 100%)
}

@media screen and (max-width:768px) {
    .hero.is-danger.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #fa0a62 0, #f14668 71%, #f7595f 100%)
    }
}

.hero.is-small .hero-body {
    padding: 1.5rem
}

@media screen and (min-width:769px),
print {
    .hero.is-medium .hero-body {
        padding: 9rem 1.5rem
    }
}

.hero.is-fullheight .hero-body,
.hero.is-fullheight-with-navbar .hero-body {
    align-items: center;
    display: flex
}

.hero.is-fullheight .hero-body>.container,
.hero.is-fullheight-with-navbar .hero-body>.container {
    flex-grow: 1;
    flex-shrink: 1
}

.hero.is-fullheight {
    min-height: 100vh
}

.hero-buttons {
    margin-top: 1.5rem
}

@media screen and (max-width:768px) {
    .hero-buttons .button {
        display: flex
    }

    .hero-buttons .button:not(:last-child) {
        margin-bottom: .75rem
    }
}

@media screen and (min-width:769px),
print {
    .hero-buttons {
        display: flex;
        justify-content: center
    }

    .hero-buttons .button:not(:last-child) {
        margin-right: 1.5rem
    }
}

.hero-head {
    flex-grow: 0;
    flex-shrink: 0
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem
}

.section {
    padding: 3rem 1.5rem
}

@media screen and (min-width:1024px) {
    .section.is-medium {
        padding: 9rem 1.5rem
    }
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem
}

.columns.is-mobile>.column.is-0 {
    flex: none;
    width: 0%
}

.columns.is-mobile>.column.is-1 {
    flex: none;
    width: 8.3333333333%
}

.columns.is-mobile>.column.is-2 {
    flex: none;
    width: 16.6666666667%
}

.columns.is-mobile>.column.is-3 {
    flex: none;
    width: 25%
}

.columns.is-mobile>.column.is-4 {
    flex: none;
    width: 33.3333333333%
}

.columns.is-mobile>.column.is-5 {
    flex: none;
    width: 41.6666666667%
}

.columns.is-mobile>.column.is-6 {
    flex: none;
    width: 50%
}

.columns.is-mobile>.column.is-7 {
    flex: none;
    width: 58.3333333333%
}

.columns.is-mobile>.column.is-8 {
    flex: none;
    width: 66.6666666667%
}

.columns.is-mobile>.column.is-9 {
    flex: none;
    width: 75%
}

.columns.is-mobile>.column.is-10 {
    flex: none;
    width: 83.3333333333%
}

.columns.is-mobile>.column.is-11 {
    flex: none;
    width: 91.6666666667%
}

.columns.is-mobile>.column.is-12 {
    flex: none;
    width: 100%
}

@media screen and (max-width:768px) {
    .column.is-0-mobile {
        flex: none;
        width: 0%
    }

    .column.is-1-mobile {
        flex: none;
        width: 8.3333333333%
    }

    .column.is-2-mobile {
        flex: none;
        width: 16.6666666667%
    }

    .column.is-3-mobile {
        flex: none;
        width: 25%
    }

    .column.is-4-mobile {
        flex: none;
        width: 33.3333333333%
    }

    .column.is-5-mobile {
        flex: none;
        width: 41.6666666667%
    }

    .column.is-6-mobile {
        flex: none;
        width: 50%
    }

    .column.is-7-mobile {
        flex: none;
        width: 58.3333333333%
    }

    .column.is-8-mobile {
        flex: none;
        width: 66.6666666667%
    }

    .column.is-9-mobile {
        flex: none;
        width: 75%
    }

    .column.is-10-mobile {
        flex: none;
        width: 83.3333333333%
    }

    .column.is-11-mobile {
        flex: none;
        width: 91.6666666667%
    }

    .column.is-12-mobile {
        flex: none;
        width: 100%
    }
}

@media screen and (min-width:769px),
print {
    .column.is-0 {
        flex: none;
        width: 0%
    }

    .column.is-1 {
        flex: none;
        width: 8.3333333333%
    }

    .column.is-2 {
        flex: none;
        width: 16.6666666667%
    }

    .column.is-3 {
        flex: none;
        width: 25%
    }

    .column.is-4 {
        flex: none;
        width: 33.3333333333%
    }

    .column.is-5 {
        flex: none;
        width: 41.6666666667%
    }

    .column.is-6 {
        flex: none;
        width: 50%
    }

    .column.is-7 {
        flex: none;
        width: 58.3333333333%
    }

    .column.is-8 {
        flex: none;
        width: 66.6666666667%
    }

    .column.is-9 {
        flex: none;
        width: 75%
    }

    .column.is-10 {
        flex: none;
        width: 83.3333333333%
    }

    .column.is-11 {
        flex: none;
        width: 91.6666666667%
    }

    .column.is-12 {
        flex: none;
        width: 100%
    }
}

@media screen and (max-width:1023px) {
    .column.is-0-touch {
        flex: none;
        width: 0%
    }

    .column.is-1-touch {
        flex: none;
        width: 8.3333333333%
    }

    .column.is-2-touch {
        flex: none;
        width: 16.6666666667%
    }

    .column.is-3-touch {
        flex: none;
        width: 25%
    }

    .column.is-4-touch {
        flex: none;
        width: 33.3333333333%
    }

    .column.is-5-touch {
        flex: none;
        width: 41.6666666667%
    }

    .column.is-6-touch {
        flex: none;
        width: 50%
    }

    .column.is-7-touch {
        flex: none;
        width: 58.3333333333%
    }

    .column.is-8-touch {
        flex: none;
        width: 66.6666666667%
    }

    .column.is-9-touch {
        flex: none;
        width: 75%
    }

    .column.is-10-touch {
        flex: none;
        width: 83.3333333333%
    }

    .column.is-11-touch {
        flex: none;
        width: 91.6666666667%
    }

    .column.is-12-touch {
        flex: none;
        width: 100%
    }
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem
}

.columns:last-child {
    margin-bottom: -.75rem
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem)
}

.columns.is-centered {
    justify-content: center
}

.columns.is-mobile {
    display: flex
}

.columns.is-multiline {
    flex-wrap: wrap
}

@media screen and (min-width:769px),
print {
    .columns:not(.is-desktop) {
        display: flex
    }
}

.m-0 {
    margin: 0 !important
}

.mt-0 {
    margin-top: 0 !important
}

.mr-0 {
    margin-right: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1 {
    margin-top: .25rem !important
}

.mr-1 {
    margin-right: .25rem !important
}

.mb-1 {
    margin-bottom: .25rem !important
}

.my-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2 {
    margin-top: .5rem !important
}

.mr-2 {
    margin-right: .5rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.m-3 {
    margin: .75rem !important
}

.mt-3 {
    margin-top: .75rem !important
}

.mr-3 {
    margin-right: .75rem !important
}

.mb-3 {
    margin-bottom: .75rem !important
}

.my-3 {
    margin-top: .75rem !important;
    margin-bottom: .75rem !important
}

.m-4 {
    margin: 1rem !important
}

.mt-4 {
    margin-top: 1rem !important
}

.mr-4 {
    margin-right: 1rem !important
}

.mb-4 {
    margin-bottom: 1rem !important
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.m-5 {
    margin: 1.5rem !important
}

.mt-5 {
    margin-top: 1.5rem !important
}

.mr-5 {
    margin-right: 1.5rem !important
}

.mb-5 {
    margin-bottom: 1.5rem !important
}

.my-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.m-6 {
    margin: 3rem !important
}

.mt-6 {
    margin-top: 3rem !important
}

.mr-6 {
    margin-right: 3rem !important
}

.mb-6 {
    margin-bottom: 3rem !important
}

.my-6 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.p-0 {
    padding: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.p-3 {
    padding: .75rem !important
}

.p-4 {
    padding: 1rem !important
}

.p-5 {
    padding: 1.5rem !important
}

.p-6 {
    padding: 3rem !important
}

.has-text-light {
    color: #f5f5f5 !important
}

a.has-text-light:focus,
a.has-text-light:hover {
    color: #dbdbdb !important
}

.has-background-light {
    background-color: #f5f5f5 !important
}

.has-text-primary {
    color: #639 !important
}

a.has-text-primary:focus,
a.has-text-primary:hover {
    color: #4d2673 !important
}

.has-background-primary {
    background-color: #639 !important
}

.has-text-primary-light {
    color: #f5f0fa !important
}

a.has-text-primary-light:focus,
a.has-text-primary-light:hover {
    color: #dbc9ed !important
}

.has-background-primary-light {
    background-color: #f5f0fa !important
}

.has-text-link {
    color: #6495ed !important
}

a.has-text-link:focus,
a.has-text-link:hover {
    color: #3676e8 !important
}

.has-background-link {
    background-color: #6495ed !important
}

.has-text-link-light {
    color: #edf3fd !important
}

a.has-text-link-light:focus,
a.has-text-link-light:hover {
    color: #bfd3f8 !important
}

.has-background-link-light {
    background-color: #edf3fd !important
}

.has-text-info {
    color: #3298dc !important
}

a.has-text-info:focus,
a.has-text-info:hover {
    color: #207dbc !important
}

.has-background-info {
    background-color: #3298dc !important
}

.has-text-info-light {
    color: #eef6fc !important
}

a.has-text-info-light:focus,
a.has-text-info-light:hover {
    color: #c2e0f5 !important
}

.has-background-info-light {
    background-color: #eef6fc !important
}

.has-text-warning {
    color: #ffdd57 !important
}

a.has-text-warning:focus,
a.has-text-warning:hover {
    color: #ffd324 !important
}

.has-background-warning {
    background-color: #ffdd57 !important
}

.has-text-warning-light {
    color: #fffbeb !important
}

a.has-text-warning-light:focus,
a.has-text-warning-light:hover {
    color: #fff1b8 !important
}

.has-background-warning-light {
    background-color: #fffbeb !important
}

.has-text-danger {
    color: #f14668 !important
}

a.has-text-danger:focus,
a.has-text-danger:hover {
    color: #ee1742 !important
}

.has-background-danger {
    background-color: #f14668 !important
}

.has-text-danger-light {
    color: #feecf0 !important
}

a.has-text-danger-light:focus,
a.has-text-danger-light:hover {
    color: #fabdc9 !important
}

.has-background-danger-light {
    background-color: #feecf0 !important
}

.has-text-grey {
    color: #7a7a7a !important
}

.has-background-grey {
    background-color: #7a7a7a !important
}

.has-text-grey-light {
    color: #d0d1cd !important
}

.has-background-grey-light {
    background-color: #d0d1cd !important
}

.is-size-1 {
    font-size: 3rem !important
}

.is-size-2 {
    font-size: 2.5rem !important
}

.is-size-3 {
    font-size: 2rem !important
}

.is-size-4 {
    font-size: 1.5rem !important
}

.is-size-5 {
    font-size: 1.25rem !important
}

.is-size-6 {
    font-size: 1rem !important
}

.is-size-7 {
    font-size: .75rem !important
}

@media screen and (max-width:768px) {
    .is-size-1-mobile {
        font-size: 3rem !important
    }

    .is-size-2-mobile {
        font-size: 2.5rem !important
    }

    .is-size-3-mobile {
        font-size: 2rem !important
    }

    .is-size-4-mobile {
        font-size: 1.5rem !important
    }

    .is-size-5-mobile {
        font-size: 1.25rem !important
    }

    .is-size-6-mobile {
        font-size: 1rem !important
    }

    .is-size-7-mobile {
        font-size: .75rem !important
    }
}

@media screen and (max-width:1023px) {
    .is-size-1-touch {
        font-size: 3rem !important
    }

    .is-size-2-touch {
        font-size: 2.5rem !important
    }

    .is-size-3-touch {
        font-size: 2rem !important
    }

    .is-size-4-touch {
        font-size: 1.5rem !important
    }

    .is-size-5-touch {
        font-size: 1.25rem !important
    }

    .is-size-6-touch {
        font-size: 1rem !important
    }

    .is-size-7-touch {
        font-size: .75rem !important
    }
}

.has-text-centered {
    text-align: center !important
}

@media screen and (max-width:768px) {
    .has-text-centered-mobile {
        text-align: center !important
    }
}

@media screen and (max-width:1023px) {
    .has-text-centered-touch {
        text-align: center !important
    }
}

.has-text-weight-light {
    font-weight: 300 !important
}

.has-text-weight-medium {
    font-weight: 500 !important
}

.has-text-weight-bold {
    font-weight: 700 !important
}

html {
    scroll-behavior: smooth
}

body {
    background: url(https://portfolio.mabreumx.com/images/blob-scatter-haikei-5.svg) no-repeat bottom center/100% 100%
}

div.hero-background {
    background-image: url(https://portfolio.mabreumx.com/images/wave-haikei-2.svg) !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%
}

section:nth-of-type(3) {
    background: url(https://portfolio.mabreumx.com/images/wave-haikei.svg) no-repeat bottom center/100%
}

footer.footer {
    background: #639 url(https://portfolio.mabreumx.com/images/blob-4.svg) no-repeat center/100% 100%
}

.image-covered {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center
}

.is-accordion .is-accordion-title {
    list-style: none;
    cursor: pointer
}

.is-accordion .is-accordion-title::before {
    content: "➡️";
    display: inline-block;
    margin: .5rem;
    transition: all .25s
}

.is-accordion[open] .is-accordion-title::before {
    transform: rotate(90deg)
}